body {
  font-family: 'Manrope', 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

.container-in {
  max-width: 1440px;
  padding: 84px 120px 124px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Контейнер скролу */
::-webkit-scrollbar {
  width: 8px; /* ширина вертикального скролбару */
}

/* Трек (фон) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

/* Сам бігунок */
::-webkit-scrollbar-thumb {
  background-color: #dadde1;
  border-radius: 10px;
}
